{% extends "structure/base_en.html" %}
{% block content %}

<!---------- ----------><!---------- ----------><!---------- ----------><!---------- ----------><!---------- ---------->
<!----------                                  SlideShow                                                      ---------->
<!---------- ----------><!---------- ----------><!---------- ----------><!---------- ----------><!---------- ---------->
<div class="uk-slidenav-position" data-uk-slideshow="{kenburns:true, autoplay:true}"  >
    <ul class="uk-slideshow">
        <!-- 1st image of the slideshow -->
        <li class="uk-active uk-overlay">
            <div class="uk-block uk-margin uk uk-block-center uk-block-middle uk-overlay-panel uk-text-center uk-animation-scale ">
                <h1 class="uk-text">Products</h1>
                <p class="uk-text-large">You can find our new  <a href="#">products</a></p>
            </div>
            <img src="{{ url_for('static', filename='img/opto_pics/DSC08156.JPG') }}">
        </li>
        <!-- 2st image of the slideshow -->
        <li>
            <img src="{{ url_for('static', filename='img/large_001.jpg') }}">
        </li>
        <!-- 3rd image of the slideshow -->
        <li>
            <img src="{{ url_for('static', filename='img/large_002.jpg') }}">
        </li>
        <!-- 4th image of the slideshow -->
        <li>
            <img src="{{ url_for('static', filename='img/large_004.jpg') }}">
        </li>
    </ul>
    <ul class="uk-dotnav uk-dotnav-contrast uk-position-bottom uk-flex-center">
        <li data-uk-slideshow-item="0"><a href=""></a></li>
        <li data-uk-slideshow-item="1"><a href=""></a></li>
        <li data-uk-slideshow-item="2"><a href=""></a></li>
        <li data-uk-slideshow-item="3"><a href=""></a></li>
    </ul>
</div><!-- end div slidshow -->

<!-- BREAD CRUMBS -->
<div class="uk-grid uk-margin-bottom uk-margin-small-left uk-margin-top uk-grid-divider">
    <div>
        <ul class="uk-breadcrumb">
            <li><a href="/index/">Home</a></li>
            <li><a href="/products/">Products</a></li>
            <li><a href="/displays/">Displays</a></li>
            <li><a href="/tft/">TFT</a></li>
        </ul>
    </div>
</div>

<div class="uk-grid ">
    <div class="uk-width-1-2">
        <div class="uk-block uk-block-primary uk-margin-2em-left">
            <div class="uk-text-justify">
                <h1>TFT Graphic</h1>
                <p>To communicate information and to manage datas, colour pictures and high rendering TFT displays are very fashionables.
                    We have the following sizes: from 2.4&quot; to 15&quot; or more. The available resolutions may vary from 160 x 240 to 1024 x 768.
                    For reading the text, the sense of reading may be in Landscape or Portrait versions.
                    For the Backlight type we dispose of different techniques: LED, CCFL.
                    We dispose of all kinds of Digital or Analog TFT from our standard lists and of special dedicated solutions with broad temperature range, high luminosity, integrated touch panel, for example.</p>
                    <a class="uk-button uk-button-primary" href="{{ url_for('contact') }}">Please contact us for advice.</a>
            </div>
        </div>
    </div>
    <div class="uk-width-1-2">
        <a>
            <img src="{{ url_for('static', filename='img/display_page/pic001_tft.png') }}" alt="" height="" width="">
        </a>
    </div>
</div>

<div class="uk-grid ">
    <div class="uk-block uk-block-primary uk-margin-2em-left">
        <h1>List of displays</h1>
    </div>
</div>

<div class="uk-panel-box uk-margin-2em-left uk-margin-large-right">
    <!-- Size panel-->
    <div class="uk-grid">
        <div class="uk-width-1-10">Size</div>
        <div class="uk-width-9-10">
            <ul class="uk-flex uk-subnav uk-subnav-pill">
                <li class="uk-active"><a href="#">All(593)</a></li>
                <li class=""><a href="#">2.36&quot; (4)</a></li>
                <li class=""><a href="#">3.50&quot; (24)</a></li>
                <li class=""><a href="#">4.00&quot; (43)</a></li>
                <li class=""><a href="#">4.20&quot; (45)</a></li>
                <li class=""><a href="#">4.30&quot; (46)</a></li>
                <li class=""><a href="#">5.00&quot; (54)</a></li>
                <li class=""><a href="#">5.70&quot; (14)</a></li>
                <li class=""><a href="#">6.40&quot; (43)</a></li>
                <li class=""><a href="#">6.50&quot; (49)</a></li>
                <li class=""><a href="#">7.00&quot; (24)</a></li>
                <li class=""><a href="#">8.00&quot; (40)</a></li>
                <li class=""><a href="#">3.50&quot; (24)</a></li>
                <li class=""><a href="#">4.00&quot; (43)</a></li>
                <li class=""><a href="#">4.20&quot; (45)</a></li>
                <li class=""><a href="#">4.30&quot; (46)</a></li>
                <li class=""><a href="#">5.00&quot; (54)</a></li>
                <li class=""><a href="#">5.70&quot; (14)</a></li>
                <li class=""><a href="#">6.40&quot; (43)</a></li>
                <li class=""><a href="#">6.50&quot; (49)</a></li>
                <li class=""><a href="#">7.00&quot; (24)</a></li>
                <li class=""><a href="#">8.00&quot; (40)</a></li>
            </ul>
        </div>
    </div>
    <hr>

    <!-- Resolution panel-->
    <div class="uk-grid">
        <div class="uk-width-1-10">Resolution</div>
        <div class="uk-width-9-10">
            <ul class="uk-flex uk-subnav uk-subnav-pill">
                <li class="uk-active"><a href="#">All(593)</a></li>
                <li class=""><a href="#">80x160 (32)</a></li>
                <li class=""><a href="#">4.00&quot; (43)</a></li>
                <li class=""><a href="#">4.20&quot; (45)</a></li>
                <li class=""><a href="#">4.30&quot; (46)</a></li>
                <li class=""><a href="#">5.00&quot; (54)</a></li>
                <li class=""><a href="#">5.70&quot; (14)</a></li>
                <li class=""><a href="#">6.50&quot; (49)</a></li>
                <li class=""><a href="#">7.00&quot; (24)</a></li>
                <li class=""><a href="#">8.00&quot; (40)</a></li>
            </ul>
        </div>
    </div>
    <hr>
    <!-- interface -->
    <div class="uk-grid">
        <div class="uk-width-1-10">Interface</div>
        <div class="uk-width-9-10">
            <ul class="uk-flex uk-subnav uk-subnav-pill">
                <li class="uk-active"><a href="#">All(593)</a></li>
                <li class=""><a href="#">LVDS(24)</a></li>
                <li class=""><a href="#">CPU RGB SPI(43)</a></li>
                <li class=""><a href="#">Serial Parallel(45)</a></li>
                <li class=""><a href="#">TTL(46)</a></li>
                <li class=""><a href="#">SPI(54)</a></li>
            </ul>
        </div>
    </div>
    <hr>
    <!-- display list -->
    <ul data-uk-switcher="{connect:'#list_switcher'}" class="uk-tab" data-uk-tab>
        <!-- All models -->
        <li class="uk-active">
            <a href=""><div>All models (?)</div></a>
        </li>
        <!-- In Production -->
        <li>
            <a href=""><div>In Production (?)</div></a>
        </li>
        <!-- Discontinued -->
        <li>
            <a href=""><div>Discontinued (?)</div></a>
        </li>
    </ul>
    <!-- LIST VISIBLE ALL MODELS -->

    <ul id="list_switcher" class="uk-switcher ">
        <li>
            <div class="uk-grid">
                <div class="width-1-3">
                    1
                </div>
                <div class="width-1-3">
                    2
                </div>
                <div class="width-1-3">
                    3
                </div>

            </div>
        </li>
        <li>
            <div class="uk-grid">
                <div class="width-1-3">
                    4
                </div>
                <div class="width-1-3">
                    5
                </div>
                <div class="width-1-3">
                    6
                </div>

            </div>
        </li>
        <li>
            <div class="uk-grid">
                <div class="width-1-3">
                    7
                </div>
                <div class="width-1-3">
                    8
                </div>
                <div class="width-1-3">
                    9
                </div>

            </div>
        </li>
    </ul>
</div>
{% endblock %}