{% extends "structure/base_en.html" %}
{% block content %}

<div class="bg-parallax-1" data-uk-parallax="{bg: '500'}">
    <div class="uk-width-1-2 uk-contrast uk-block uk-block-center"> <!--data-uk-parallax="{viewport: '0.4', opacity:0}"-->
        <h1 > Our revolutionating Displays</h1>
        <p> Donec non laoreet lectus, sed pulvinar neque. Sed et porttitor dui. Phasellus nec mauris rhoncus,
            fringilla dolor sed, fringilla orci. Aenean in felis auctor, eleifend nunc vel, vulputate sem.
            Maecenas malesuada tortor augue, at auctor dolor vestibulum a. Sed sit amet fermentum mauris.
            Phasellus posuere auctor nisi, id molestie sem blandit id. Vestibulum a luctus dui. Aliquam
            ullamcorper quam maximus rhoncus gravida. Fusce accumsan lectus nec tristique sollicitudi
        </p>
    </div>
</div>


{% endblock %}
