{% extends "structure/base_en_mat.html" %}
{% block content %}

<div class="parallax-container">
    <div class="parallax"><img src="{{ url_for('static', filename='img/img_materialize/parallax1.jpg') }}"></div>
</div>
<div class="section white">
  <div class="row container">
      <h2 class="header">Parallax</h2>
      <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
  </div>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="{{ url_for('static', filename='img/img_materialize/parallax2.jpg') }}"></div>
</div>
<div class="section white">
  <div class="row container">
      <h2 class="header">Opto Logic</h2>
  </div>
</div>


{% endblock %}
