{% extends "structure/base_en.html" %}
{% block content %}


<div class="uk-slidenav-position" data-uk-slideshow="{kenburns:true, autoplay:true}" >
    <ul class="uk-slideshow uk-overlay-active">
    <!-- 1st image of the slideshow -->
        <li class="uk-active" aria-hidden="false">
            <img style="" src="{{ url_for('static', filename='img/large_000.jpg') }}"width="1024px" height="100%">
            <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous" data-uk-slideshow-item="previous"></a>
            <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next" data-uk-slideshow-item="next"></a>
            <div class="uk-overlay-panel uk-overlay-background uk-overlay-bottom uk-overlay-slide-bottom">
                <h3>Go to 1st the Section</h3>
                <p>Lorem <a href="#">TFT Displays</a> sit amet, consetetur sadipscing elitr,<br>sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.</p>
                <a href="/tft/"><button class="uk-button uk-button-primary">Learn more</button></a>
                <a href="#1st_section"><button class="uk-button uk-button-primary">Go</button></a>
                <div class="uk-grid">
                    <div class="uk-width-1-1 uk-text-center">
                        <a href="#1st_section" class="uk-icon-chevron-down uk-icon-large" data-uk-smooth-scroll=""></a>
                    </div>
                </div>
            </div>
        </li>
        <!-- 2st image of the slideshow -->
        <li>
        <img src="{{ url_for('static', filename='img/large_001.jpg') }}"><a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous" data-uk-slideshow-item="previous"></a>
            <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next" data-uk-slideshow-item="next"></a>
            <div class="uk-overlay-panel uk-overlay-background uk-overlay-bottom uk-overlay-slide-bottom">
                <div>
                    <h3>Go to the 2nd Section</h3>
                    <p>Lorem <a href="#">Go to the 2nd Section</a> sit amet, consetetur sadipscing elitr,<br>sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.</p>
                    <a href="#"><button class="uk-button uk-button-primary">Learn more</button></a>
                    <div class="uk-grid ">
                        <div class="uk-width-1-1 uk-text-center">
                            <a href="#2nd_section" class="uk-icon-chevron-down uk-icon-large" data-uk-smooth-scroll=""></a>
                            <a href="" data-uk-slideshow-item="previous"></a>
                            <a href="" data-uk-slideshow-item="next"></a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <!-- 3rd image of the slideshow -->
        <li>
            <img src="{{ url_for('static', filename='img/large_002.jpg') }}">
            <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous" data-uk-slideshow-item="previous"></a>
            <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next" data-uk-slideshow-item="next"></a>
            <div class="uk-overlay-panel uk-overlay-background uk-overlay-bottom uk-overlay-slide-bottom">
                <div>
                    <h3>Go to the 3rd Section</h3>
                    <p>Lorem <a href="#">Go to the 3rd Section</a> sit amet, consetetur sadipscing elitr,<br>sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.</p>
                    <a href="#"><button class="uk-button uk-button-primary">Learn more</button></a>
                    <div class="uk-grid ">
                        <div class="uk-width-1-1 uk-text-center">
                            <a href="#3rd_section" class="uk-icon-chevron-down uk-icon-large"data-uk-smooth-scroll=""></a>
                            <a href="" data-uk-slideshow-item="previous"></a>
                            <a href="" data-uk-slideshow-item="next"></a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <!-- 4th image of the slideshow -->
        <li>
            <img src="{{ url_for('static', filename='img/large_004.jpg') }}">
            <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous" data-uk-slideshow-item="previous"></a>
            <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next" data-uk-slideshow-item="next"></a>
            <div class="uk-overlay-panel uk-overlay-background uk-overlay-bottom uk-overlay-slide-bottom">
                <div>
                    <h3>Go to the 4th Section</h3>
                    <p>Lorem <a href="#">Go to the 4th Section</a> sit amet, consetetur sadipscing elitr,<br>sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.</p>
                    <a href="#"><button class="uk-button uk-button-primary">Learn more</button></a>
                    <div class="uk-grid ">
                        <div class="uk-width-1-1 uk-text-center">
                            <a href="#4th_section" class="uk-icon-chevron-down uk-icon-large"data-uk-smooth-scroll=""></a>
                            <a href="" data-uk-slideshow-item="previous"></a>
                            <a href="" data-uk-slideshow-item="next"></a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div><!-- end div slidshow -->
<!-- Section produits classe important -->
<div class="uk-block uk-margin-large-left uk-margin-large-right">
    <div id="1st_section" class="uk-block uk-block-custom-1 uk-block-large">
        <h1 data-uk-parallax="{opacity: '0,1', scale: '0,1'}" class="uk-text-center">Products</h1>
        <div class="row" data-uk-parallax="{velocity: '0.5', y: '150', scale, viewport: '0.9'}">
            <!--<div class="col s12 m4 "></div>-->
            <div class="red card  hoverable col 4 offset-s8 ">
                <div class="card-image">
                    <img src="{{ url_for('static', filename='img/opto_pics/filling_pic01.png') }}">
                    <span class="card-title">Card Title</span>
                </div>
                <div class=" yellow card-content center-align">
                    <p>   I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                    <a href="#">This is a link</a>
                </div>
            </div>
            <!--<div class="col s12 m4"></div>-->
        </div>
        <div class="uk-hidden-small">
            <div class="uk-panel uk-panel-box">
                <div class="uk-panel ">
                    <div class="uk-grid uk-container-center uk-grid-divider">
                        <div class="uk-width-1-2">
                            <img src="{{ url_for('static', filename='img/tft_landing_pic000.JPG') }}" alt="">
                        </div>
                        <div class="uk-width-1-2 uk-width-medium-* uk-width-large-*">
                            <span class="">
                                <h2>Enter Product Name</h2>
                                    <p>
                                        Donec non laoreet lectus, sed pulvinar neque. Sed et porttitor dui. Phasellus nec mauris rhoncus,
                                        fringilla dolor sed, fringilla orci. Aenean in felis auctor, eleifend nunc vel, vulputate sem.
                                        Maecenas malesuada tortor augue, at auctor dolor vestibulum a. Sed sit amet fermentum mauris.
                                        Phasellus posuere auctor nisi, id molestie sem blandit id. Vestibulum a luctus dui. Aliquam
                                        ullamcorper quam maximus rhoncus gravida. Fusce accumsan lectus nec tristique sollicitudi
                                    </p>
                            </span>
                            <div class="uk-flex uk-flex-column uk-align-right uk-vertical-align-bottom">
                                <div> <hr></div>
                                <div><a href="#"><button class=" uk-vertical-align-bottom uk-button uk-button-primary ">Learn more</button></a></div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <!-- second main product -->
                    <div class="uk-grid uk-container-center uk-grid-divider">
                        <div class="uk-width-1-2">
                            <span class="">
                                <h2>Enter Product Name</h2>
                                <p>
                                    Donec non laoreet lectus, sed pulvinar neque. Sed et porttitor dui. Phasellus nec mauris rhoncus,
                                    fringilla dolor sed, fringilla orci. Aenean in felis auctor, eleifend nunc vel, vulputate sem.
                                    Maecenas malesuada tortor augue, at auctor dolor vestibulum a. Sed sit amet fermentum mauris.
                                    Phasellus posuere auctor nisi, id molestie sem blandit id. Vestibulum a luctus dui. Aliquam
                                    ullamcorper quam maximus rhoncus gravida. Fusce accumsan lectus nec tristique sollicitudi
                                </p>
                            </span>
                            <hr>
                            <span class="">
                                <a href="#"><button class="uk-button uk-button-primary uk-align-right">Learn more</button></a>
                            </span>
                        </div><!-- end div grid -->
                        <div class="uk-width-1-2 uk-width-medium-* uk-width-large-*">
                            <img src="{{ url_for('static', filename='img/index_display_00.jpg') }}" alt="" width="" height="200px">
                        </div>
                    </div>
                    <hr>
                    <!-- second product section double product in a row -->
                    <div class="uk-custom-block-primary">
                        <div data-uk-parallax="{viewport: '0.5'}"></div>
                    <div class="uk-grid uk-grid-divider">
                        <div class="uk-width-1-2">
                            <img src="{{ url_for('static', filename='img/opto_pics/DSC08186.JPG') }}" alt="">
                            <h2>
                                Another Display
                            </h2>
                            <p>
                                Fringilla dolor sed, fringilla orci. Aenean in felis auctor, eleifend nunc vel, vulputate sem.
                            </p>
                            <hr>
                            <a href="#"><button class="uk-button uk-button-primary uk-align-right">Learn more</button></a>
                        </div>
                        <div class="uk-width-1-2">
                            <img src="{{ url_for('static', filename='img/opto_pics/DSC08185.JPG') }}" alt="">
                            <h2>TftProducts</h2>
                            <p>
                                Dullamcorper quam maximus rhoncus gravida. Fusce accumsan lectus nec tristique sollicitudi.
                            </p>
                            <hr>
                            <a href="#"><button class="uk-button uk-button-primary uk-align-right">Learn more</button></a>
                        </div>
                    </div><!-- ENDU -->
                </div>
    <!-- --></div>
            <hr>
            <!--3rd line of products -->
            <div class="uk-grid">
                <div class="uk-width-small-1-2 uk-width-medium-1-4 uk-width-large-1-4">
                    <figure class="uk-overlay uk-overlay-hover">
                        <img class="uk-overlay-spin" src="{{ url_for('static', filename='img/opto_pics/filling_pic00.png') }}" alt="Image" height="400" width="600">
                        <figcaption class="uk-overlay-panel uk-overlay-background uk-overlay-bottom uk-overlay-slide-bottom">
                            <p>Your Title Here.</p>
                        </figcaption>
                    </figure>
                </div>
                <div class="uk-width-small-1-2 uk-width-medium-1-4 uk-width-large-1-4">
                    <figure class="uk-overlay uk-overlay-hover">
                        <img class="uk-overlay-spin" src="{{ url_for('static', filename='img/opto_pics/filling_pic00.png') }}" alt="Image" height="400" width="600">
                        <figcaption class="uk-overlay-panel uk-overlay-background uk-overlay-bottom uk-overlay-slide-bottom">
                            <p>Your Title Here.</p>
                        </figcaption>
                    </figure>
                </div>
                <div class="uk-width-small-1-2 uk-width-medium-1-4 uk-width-large-1-4">
                    <figure class="uk-overlay uk-overlay-hover">
                        <img class="uk-overlay-spin" src="{{ url_for('static', filename='img/opto_pics/filling_pic00.png') }}" alt="Image" height="400" width="600">
                        <figcaption class="uk-overlay-panel uk-overlay-background uk-overlay-bottom uk-overlay-slide-bottom">
                            <p>Your Title Here.</p>
                        </figcaption>
                    </figure>
                </div>
                <div class="uk-width-small-1-2 uk-width-medium-1-4 uk-width-large-1-4">
                    <figure class="uk-overlay uk-overlay-hover">
                        <img class="uk-overlay-spin" src="{{ url_for('static', filename='img/opto_pics/filling_pic00.png') }}" alt="Image" height="400" width="600">
                        <figcaption class="uk-overlay-panel uk-overlay-background uk-overlay-bottom uk-overlay-slide-bottom">
                            <p>Your Title Here.</p>
                        </figcaption>
                    </figure>
                </div>
            </div><!-- end 3rd line products-->
            <a href="#top" class="uk-icon-chevron-up uk-container-center uk-align-center" data-uk-smooth-scroll=""></a>
        </div><!-- end 3rd_products -->
    </div>
    <!-- Visible Small -->
    <div class="uk-visible-small">
            <div class="uk-panel uk-panel-box">
                <div class="uk-panel">
                    <img src="{{ url_for('static', filename='img/tft_landing_pic000.JPG') }}" alt="" width="100%">
                    <p>Donec non laoreet lectus, sed pulvinar neque. Sed et porttitor dui. Phasellus nec mauris rhoncus,
                        fringilla dolor sed, fringilla orci. Aenean in felis auctor, eleifend nunc vel, vulputate sem.
                        Maecenas malesuada tortor augue, at auctor dolor vestibulum a. Sed sit amet fermentum mauris.
                        Phasellus posuere auctor nisi, id molestie sem blandit id. Vestibulum a luctus dui. Aliquam
                        ullamcorper quam maximus rhoncus gravida. Fusce accumsan lectus nec tristique sollicitudi
                    </p>
                    <hr>
                    <div class="uk-panel">
                        <a href="#"><button class="uk-button uk-button-primary uk-align-right uk-container-center">Learn more</button></a>
                    </div>
                    <img src="{{ url_for('static', filename='img/index_display_00.JPG') }}" alt="" width="100%">
                    <h2>TftProducts</h2>
                    <p>Donec non laoreet lectus, sed pulvinar neque. Sed et porttitor dui. Phasellus nec mauris rhoncus,
                        fringilla dolor sed, fringilla orci. Aenean in felis auctor, eleifend nunc vel, vulputate sem.
                        Maecenas malesuada tortor augue, at auctor dolor vestibulum a. Sed sit amet fermentum mauris.
                        Phasellus posuere auctor nisi, id molestie sem blandit id. Vestibulum a luctus dui. Aliquam
                        ullamcorper quam maximus rhoncus gravida. Fusce accumsan lectus nec tristique sollicitudi
                    </p>
                    <hr>
                    <a href="#"><button class="uk-button uk-button-primary uk-container-center uk-align-right ">Learn more</button></a>
                    <br>
                </div>
                <!-- 2nd product section double product in a row -->
                <div class="uk-custom-block-primary">
                    <div data-uk-parallax="{viewport: '0.5'}">
                    </div>
                    <div class="uk-grid uk-grid-divider">
                        <div class="uk-width-1-2">
                            <img src="{{ url_for('static', filename='img/opto_pics/DSC08186.JPG') }}" alt="">
                            <h2>
                                Another Display
                            </h2>
                            <p>
                                Fringilla dolor sed, fringilla orci. Aenean in felis auctor, eleifend nunc vel, vulputate sem.
                            </p>
                            <hr>
                            <a href="#"><button class="uk-button uk-button-primary uk-align-right">Learn more</button></a>
                        </div>
                        <div class="uk-width-1-2">
                            <div class="uk-panel">
                                <img src="{{ url_for('static', filename='img/opto_pics/DSC08185.JPG') }}" alt="">
                                <h2>TftProducts</h2>
                                <p>
                                    Dullamcorper quam maximus rhoncus gravida. Fusce accumsan lectus nec tristique sollicitudi.
                                </p>
                                <hr>
                                <a href="#"><button class="uk-button uk-button-primary uk-align-right">Learn more</button></a>
                            </div>
                        </div>
                    </div><!-- ENDU -->
                </div>
                <!--3rd line of products -->
                <div class="uk-panel">
                    <div class="uk-grid">
                        <div class="uk-width-small-1-2 uk-width-medium-1-4 uk-width-large-1-4">
                            <figure class="uk-overlay uk-overlay-hover">
                                <img class="uk-overlay-spin" src="{{ url_for('static', filename='img/opto_pics/filling_pic00.png') }}" alt="Image" height="400" width="600">
                                <figcaption class="uk-overlay-panel uk-overlay-background uk-overlay-bottom uk-overlay-slide-bottom">
                                    <p>Your Title Here.</p>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="uk-width-small-1-2 uk-width-medium-1-4 uk-width-large-1-4">
                            <figure class="uk-overlay uk-overlay-hover">
                                <img class="uk-overlay-spin" src="{{ url_for('static', filename='img/opto_pics/filling_pic00.png') }}" alt="Image" height="400" width="600">
                                <figcaption class="uk-overlay-panel uk-overlay-background uk-overlay-bottom uk-overlay-slide-bottom">
                                    <p>Your Title Here.</p>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="uk-width-small-1-2 uk-width-medium-1-4 uk-width-large-1-4">
                            <figure class="uk-overlay uk-overlay-hover">
                                <img class="uk-overlay-spin" src="{{ url_for('static', filename='img/opto_pics/filling_pic00.png') }}" alt="Image" height="400" width="600">
                                <figcaption class="uk-overlay-panel uk-overlay-background uk-overlay-bottom uk-overlay-slide-bottom">
                                    <p>Your Title Here.</p>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="uk-width-small-1-2 uk-width-medium-1-4 uk-width-large-1-4">
                            <figure class="uk-overlay uk-overlay-hover">
                                <img class="uk-overlay-spin" src="{{ url_for('static', filename='img/opto_pics/filling_pic00.png') }}" alt="Image" height="400" width="600">
                                <figcaption class="uk-overlay-panel uk-overlay-background uk-overlay-bottom uk-overlay-slide-bottom">
                                    <p>Your Title Here.</p>
                                </figcaption>
                            </figure>
                        </div>
                    </div><!-- end 3rd line products-->
                    <a href="#top" class="uk-icon-chevron-up uk-container-center uk-align-center" data-uk-smooth-scroll=""></a>
                </div><!-- end 3rd_products -->
            </div>
        </div>
    </div>
    <div id="2nd_section" class="uk-block uk-block-custom-1 uk-block-large">
        <h1>Here's the 2nd Section</h1>
        Your Content Here.
        <a href="#top" class="uk-icon-chevron-up" data-uk-smooth-scroll=""></a>
    </div>
    <a href="#top" class="uk-icon-chevron-up" data-uk-smooth-scroll=""></a>
    <div id="3rd_section"class="uk-block uk-block-custom-2 uk-constrast uk-block-large">
        <h1>Here's the 3rd Section</h1>
        <a href="#top" class="uk-icon-chevron-up" data-uk-smooth-scroll="="></a>
    </div>
    <div id="4th_section"class="uk-block uk-block-custom-1  uk-block-large">
        <div class="uk-grid uk-margin-small-right uk-margin-small-left">
            <div class="uk-width-1-2">
                <ul id="picture_switcher" class="uk-switcher">
                    <li><img class="uk-margin-large-top" src="{{ url_for('static', filename='img/tft_landing_pic000.jpg') }}"></li>
                    <li><img class="uk-margin-large-top" src="{{ url_for('static', filename='img/tft_landing_pic001.jpg') }}"></li>
                    <li><img class="uk-margin-large-top" src="{{ url_for('static', filename='img/tft_landing_pic002.jpg') }}"></li>
                </ul>
            </div>
            <div class="uk-width-1-2">
                <div class="row">
                    <div class="uk-block ">
                        <div class="uk-text-left">
                            <h1>TFT Graphic</h1>
                        </div>
                        <ul data-uk-switcher="{connect:'#text_switcher, #picture_switcher'}" class="uk-subnav uk-subnav-pill">
                            <li class="uk-active" aria-expanded="false"><a href="">TFT0</a></li>
                            <li><a href="">TFT1</a></li>
                            <li><a href="">TFT2</a></li>
                        </ul>
                        <div class="grid"><!-- SWITCHER DIV -->
                        <!-- These are the containers of the content items -->
                            <ul id="text_switcher" class="uk-switcher">
                                <li>This is a TFT0 Diplays that you'll need.</li>
                                <li>This is a TFT1 Diplays that you'll need.</li>
                                <li>This is a TFT2 Diplays that you'll need.</li>
                            </ul>
                        </div> <!-- END SWITCHER DIV -->
                    </div>
                </div>
            </div>
        </div>
        <a href="#top" class="uk-icon-chevron-up" data-uk-smooth-scroll=""></a>
    </div>
</div>


{% endblock %}
