<!-- LIST VISIBLE ALL MODELS -->
            <ul id="list_switcher" class="uk-switcher">
                <li>
                    <table class="uk-table uk-table-striped uk-table-hover uk-table-condensed">
                        <thead class="">
                            <tr>
                                <th>Panel model</th>
                                <th>Size &quot;</th>
                                <th>Resolution</th>
                                <th>Brightness</th>
                                <th>C/R</th>
                                <th>Colors</th>
                                <th>Backlight</th>
                                <th>Interface</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="">
                            <tr>
                                <td><a href="#">FG0507FSSDFFSSfddf45</a></td>
                                <td>5&quot;</td>
                                <td>800x600 XGA</td>
                                <td>400</td>
                                <td>800:1</td>
                                <td>16.7M</td>
                                <td>WLED</td>
                                <td>LVDS</td>
                                <td><a href="#"><i class="uk-icon-file-pdf-o"></i></a></td>
                            </tr>
                            <tr>
                                <td><a href="#">FG0507FSSDFFSSfddf45</a></td>
                                <td>5&quot;</td>
                                <td>800x600 XGA</td>
                                <td>400</td>
                                <td>800:1</td>
                                <td>16.7M</td>
                                <td>WLED</td>
                                <td>LVDS</td>
                                <td><a href="#"><i class="uk-icon-file-pdf-o"></i></a></td>
                            </tr>
                            <tr>
                                <td><a href="#">FG0507FSSDFFSSfddf45</a></td>
                                <td>5&quot;</td>
                                <td>800x600 XGA</td>
                                <td>400</td>
                                <td>800:1</td>
                                <td>16.7M</td>
                                <td>WLED</td>
                                <td>LVDS</td>
                                <td><a href="#"><i class="uk-icon-file-pdf-o"></i></a></td>
                            </tr>
                            <tr>
                                <td><a href="#">FG0507FSSDFFSSfddf45</a></td>
                                <td>5&quot;</td>
                                <td>800x600 XGA</td>
                                <td>400</td>
                                <td>800:1</td>
                                <td>16.7M</td>
                                <td>WLED</td>
                                <td>LVDS</td>
                                <td><a href="#"><i class="uk-icon-file-pdf-o"></i></a></td>
                            </tr>
                            <tr>
                                <td><a href="#">FG0507FSSDFFSSfddf45</a></td>
                                <td>5&quot;</td>
                                <td>800x600 XGA</td>
                                <td>400</td>
                                <td>800:1</td>
                                <td>16.7M</td>
                                <td>WLED</td>
                                <td>LVDS</td>
                                <td><a href="#"><i class="uk-icon-file-pdf-o"></i></a></td>
                            </tr>
                            <tr>
                                <td><a href="#">FG0507FSSDFFSSfddf45</a></td>
                                <td>5&quot;</td>
                                <td>800x600 XGA</td>
                                <td>400</td>
                                <td>800:1</td>
                                <td>16.7M</td>
                                <td>WLED</td>
                                <td>LVDS</td>
                                <td><a href="#"><i class="uk-icon-file-pdf-o"></i></a></td>
                            </tr>

                        </tbody>
                        <tfoot>
                            <tr>
                            </tr>
                        </tfoot>
                    </table>
                </li>
                <li>
                <table class="uk-table uk-table-striped uk-table-hover uk-table-condensed">
                    <thead class="">
                        <tr>
                            <th>Panel model</th>
                            <th>Size &quot;</th>
                            <th>Resolution</th>
                        </tr>
                    </thead>

                    <tbody class="">
                        <tr>
                            <td>FG0507FSSDFFSSfddf45</td>
                            <td>5&quot;</td>
                            <td>800x600 XGA</td>
                        </tr>
                        <tr>
                            <td>FG0507FSSDFFSSfddf45</td>
                            <td>5&quot;</td>
                            <td>800x600 XGA</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                        </tr>
                    </tfoot>
                </table>
            </li>
                <li>
                    <table class="uk-table uk-table-striped uk-table-hover uk-table-condensed">
                        <thead class="">
                            <tr>
                                <th>Panel model</th>
                                <th>Size &quot;</th>
                                <th>Resolution</th>
                            </tr>
                        </thead>

                        <tbody class="">
                            <tr>
                                <td>FG0507FSSDFFSSfddf45</td>
                                <td>5&quot;</td>
                                <td>800x600 XGA</td>
                            </tr>
                            <tr>
                                <td>FG0507FSSDFFSSfddf45</td>
                                <td>5&quot;</td>
                                <td>800x600 XGA</td>
                            </tr>
                            <tr>
                                <td>FG0507FSSDFFSSfddf45</td>
                                <td>5&quot;</td>
                                <td>800x600 XGA</td>
                            </tr>
                            <tr>
                                <td>FG0507FSSDFFSSfddf45</td>
                                <td>5&quot;</td>
                                <td>800x600 XGA</td>
                            </tr>
                        </tbody>
                        
                        <tfoot>
                            <tr>
                            </tr>
                        </tfoot>

                    </table>
                </li>
            </ul>