<!---------- ----------><!---------- ----------><!---------- ----------><!---------- ----------><!---------- ---------->
<!----------                            START SECTION 2                                                      ---------->
<!---------- ----------><!---------- ----------><!---------- ----------><!---------- ----------><!---------- ---------->
<div id="2nd_section">
        <div id="parallax-box" class="bg-parallax-1" data-uk-parallax="{bg: '-500'}">
             <div class="uk-hidden-small uk-contrast uk-overlay-background uk-width-small-2-2 uk-panel uk-panel-box-parallax  uk-width-medium-2-3 uk-width-large-2-3  ul-float-left" data-uk-parallax="{target:'#parallax-box',yp: '120', velocity: '0.7', viewport: '0.5'}" >
                <h2 > Our revolutionating Displays</h2>
                 <p>Donec non laoreet lectus, sed pulvinar neque. Sed et porttitor dui. Phasellus nec mauris rhoncus,
                    fringilla dolor sed, fringilla orci. Aenean in felis auctor, eleifend nunc vel, vulputate sem.
                    Maecenas malesuada tortor augue, at auctor dolor vestibulum a. Sed sit amet fermentum mauris.
                    Phasellus posuere auctor nisi, id molestie sem blandit id. Vestibulum a luctus dui. Aliquam
                    ullamcorper quam maximus rhoncus gravida. Fusce accumsan lectus nec tristique sollicitudi
                 </p>
            </div>
            <div class="uk-visible-small uk-contrast uk-overlay-background uk-width-small-1-1 uk-panel uk-panel-box-parallax ul-float-left" data-uk-parallax="{target:'#parallax-box',yp: '50', velocity: '0.7', viewport: '0.5'}" >
                <h2 > Our revolutionating Displays</h2>
                 <p>Donec non laoreet lectus, sed pulvinar neque. Sed et porttitor dui. Phasellus nec mauris rhoncus,
                    fringilla dolor sed, fringilla orci. Aenean in felis auctor, eleifend nunc vel, vulputate sem.
                    Maecenas malesuada tortor augue, at auctor dolor vestibulum a. Sed sit amet fermentum mauris.
                    Phasellus posuere auctor nisi, id molestie sem blandit id. Vestibulum a luctus dui. Aliquam
                    ullamcorper quam maximus rhoncus gravida. Fusce accumsan lectus nec tristique sollicitudi
                 </p>
            </div>
        </div>
</div>