<section class="" data-midnight="section_4">
    <div id="4th_section"  data-midnight="white">
        <div class="uk-grid">
            <div class="uk-hidden-small bg-parallax-2" data-uk-parallax="{bg: '-500'}">
                <div class=" uk-float-right uk-width-medium-1-2 uk-contrast " data-uk-parallax="{yp:'330'}"> <!--data-uk-parallax="{viewport: '0.4', opacity:0}"-->
                    <div class="uk-margin-left uk-margin-right">
                    <h2> Our revolutionating Displays</h2>
                    <p > Donec non laoreet lectus, sed pulvinar neque. Sed et porttitor dui. Phasellus nec mauris rhoncus,
                    fringilla dolor sed, fringilla orci. Aenean in felis auctor, eleifend nunc vel, vulputate sem.
                    Maecenas malesuada tortor augue, at auctor dolor vestibulum a. Sed sit amet fermentum mauris.
                    Phasellus posuere auctor nisi, id molestie sem blandit id. Vestibulum a luctus dui. Aliquam
                    ullamcorper quam maximus rhoncus gravida. Fusce accumsan lectus nec tristique sollicitudi
                    </p>
                    </div>
                </div>
            </div>
            <div class="uk-visible-small bg-parallax-2" data-uk-parallax="{bg: '150'}">
                <div class=" uk-float-right uk-contrast " data-uk-parallax="{yp:'25'}">
                    <div class="uk-margin-left uk-margin-right">
                    <h2> Our revolutionating Displays</h2>
                    <p > Donec non laoreet lectus, sed pulvinar neque. Sed et porttitor dui. Phasellus nec mauris rhoncus,
                    fringilla dolor sed, fringilla orci. Aenean in felis auctor, eleifend nunc vel, vulputate sem.
                    Maecenas malesuada tortor augue, at auctor dolor vestibulum a. Sed sit amet fermentum mauris.
                    Phasellus posuere auctor nisi, id molestie sem blandit id. Vestibulum a luctus dui. Aliquam
                    ullamcorper quam maximus rhoncus gravida. Fusce accumsan lectus nec tristique sollicitudi
                    </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>