<!---------- ----------><!---------- ----------><!---------- ----------><!---------- ----------><!---------- ---------->
<!----------                            START SECTION 3                                                      ---------->
<!---------- ----------><!---------- ----------><!---------- ----------><!---------- ----------><!---------- ---------->
<div id="3rd_section">
    <div class="uk-grid">
        <div class="uk-width-medium-1-2">
            <h1>Heading</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            <h2>Subheading</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <a class="uk-button uk-button-primary" href="#">Button</a>
        </div>

        <div class="uk-width-medium-1-2">
            <img src="{{ url_for('static', filename='img/opto_pics/DSC08185.JPG') }}" alt="" height="400" width="660">
        </div>
        <a href="#top" class="uk-icon-chevron-up uk-container-center uk-align-center uk-icon-large" data-uk-smooth-scroll></a>
    </div>
</div>