{% extends "structure/_base.html" %}

{% block slideshow %}
  {% include 'frontend/_slideshow_index_en.html' %}
{% endblock %}

{% block content %}
<div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">
{% include 'frontend/_index_section_tft.html' %}
</div>

{% include 'frontend/_index_section_2_parallax.html' %}

<div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">
        {% include 'frontend/_index_section_3.html' %}
</div>
{% include 'frontend/_index_section_4_parallax.html' %}

<div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">
        {% include 'frontend/_index_section_5.html' %}
</div>

{% endblock %}


