{% extends "structure/base_en.html" %}
{% block content %}


<!---------- ----------><!---------- ----------><!---------- ----------><!---------- ----------><!---------- ---------->
<!----------                                  SlideShow                                                      ---------->
<!---------- ----------><!---------- ----------><!---------- ----------><!---------- ----------><!---------- ---------->
<div class="uk-slidenav-position" data-uk-slideshow="{kenburns:true, autoplay:true}"  >
    <ul class="uk-slideshow">
        <!-- 1st image of the slideshow -->
        <li class="uk-grid uk-active uk-overlay uk-vertical-align">
            <div class="uk-block uk-overlay-panel uk-text-center uk-animation-scale  uk-vertical-align-middle">
                <h1 class="uk-text">Products</h1>
                <p class="uk-text-large">You can find our new  <a href="#">products</a></p>
                <div class="uk-grid">
                    <div class=" uk-container-center">
                        <a href="#goto-1st" class="uk-position-bottom uk-icon-large uk-icon-chevron-circle-down " data-uk-smooth-scroll=""></a>
                    </div>
                </div>
            </div>
            <img src="{{ url_for('static', filename='img/opto_pics/DSC08156.JPG') }}">
        </li>
        <!-- 2st image of the slideshow -->
        <li>
            <img src="{{ url_for('static', filename='img/large_001.jpg') }}">
        </li>
        <!-- 3rd image of the slideshow -->
        <li>
            <img src="{{ url_for('static', filename='img/large_002.jpg') }}">
        </li>
        <!-- 4th image of the slideshow -->
        <li>
            <img src="{{ url_for('static', filename='img/large_004.jpg') }}">
        </li>
    </ul>

    <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous" data-uk-slideshow-item="previous"></a>
    <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next" data-uk-slideshow-item="next"></a>

</div><!-- end div slidshow -->


<!-- MARGIN DIV -->
<div class="uk-margin-left uk-margin-right">
    <!-- BREAD CRUMBS -->
    <div id="goto-1st" class="uk-grid uk-margin-bottom uk-margin-top uk-grid-divider">
        <ul class="uk-breadcrumb">
            <li><a href="/index/">Home</a></li>
            <li><a href="/products/">Products</a></li>
            <li><a href="/displays/">Displays</a></li>
            <li><a href="/tft/">TFT</a></li>
        </ul>
    </div>
    <!-- SECTION 1 VISIBILITY LARGE/MEDIUM -->
    <div class="uk-grid uk-hidden-small">
        <div class="uk-width-1-2">
            <div class="uk-panel">
                <div class="uk-text-justify">
                    <h1>TFT Graphic</h1>
                    <p>To communicate information and to manage datas, colour pictures and high rendering TFT displays are very fashionables.
                        We have the following sizes: from 2.4&quot; to 15&quot; or more. The available resolutions may vary from 160 x 240 to 1024 x 768.
                        For reading the text, the sense of reading may be in Landscape or Portrait versions.
                        For the Backlight type we dispose of different techniques: LED, CCFL.
                        We dispose of all kinds of Digital or Analog TFT from our standard lists and of special dedicated solutions with broad temperature range, high luminosity, integrated touch panel, for example.</p>
                        <a class="uk-button uk-button-primary" href="#">Contact us</a>
                </div>
            </div>
        </div>
        <div class="uk-width-1-2">
            <br>
            <br>
            <br>
            <a>
                <img src="{{ url_for('static', filename='img/display_page/pic001_tft.png') }}" alt="" height="" width="">
            </a>
        </div>
    </div>

    <!-- SECTION 1 VISIBILITY SMALL -->
    <div class="uk-visible-small">
        <figure class=" uk-overlay uk-overlay-hover">
            <img src="{{ url_for('static', filename='img/display_page/pic001_tft.png') }}">
            <figcaption class="uk-overflow-container  uk-overlay-panel uk-overlay-background  uk-overlay-slide-left uk-text-medium">
                <h4>TFT Graphic</h4>
                <p class="uk-margin-remove uk-overflow-container uk-text-justify">To communicate information and to manage datas, colour pictures and high rendering TFT displays are very fashionables.
                We have the following sizes: from 2.4&quot; to 15&quot; or more. The available resolutions may vary from 160 x 240 to 1024 x 768.
                For reading the text, the sense of reading may be in Landscape or Portrait versions.
                For the Backlight type we dispose of different techniques: LED, CCFL.
                <a class="uk-align-bottom uk-align-right uk-button uk-button-primary" href="#">Contact us</a>

            </figcaption>
        </figure>
    </div>

    <!-- SECTION LIST -->
    <div class="uk-panel">
        <div class="uk-margin-bottom">
            <h1 id="goto-list" class="uk-margin-bottom-remove">List of displays</h1>
        </div>
        <!-- list displays SIZE -->
        <div class="uk-panel uk-text-medium">
            <!-- Size panel-->
            <div class="uk-grid">
                <div class="uk-width-1-10">Size</div>
                <div class="uk-width-9-10">
                    <ul class="uk-flex uk-subnav uk-subnav-pill">
                        {% for size_count_item in size_count_list %}
                            {% if size_count_item['active'] %}
                            <li class="uk-active">
                            {% else %}
                            <li class="">
                            {% endif %}
                                <a href="{{ url_for('tfts.tft_landing_en')}}{{size_count_item['url']}}">
                                    {% if size_count_item['size']== 'All' and resolution %}
                                    {{ size_count_item['size'] }}
                                    {% else %}
                                    {{ size_count_item['size'] }}&quot;
                                    {% endif %}

                                    ({{size_count_item['qty']}})
                                </a>
                            </li>
                        {% endfor %}
                    </ul>

                </div>
            </div>
            <hr>
            <!-- Resolution panel-->
            <div class="uk-grid">
                <div class="uk-width-1-10">Size</div>
                <div class="uk-width-9-10">
                    <ul class="uk-flex uk-subnav uk-subnav-pill">
                        {% for resolution_count_item in resolution_count_list %}
                            {% if resolution_count_item['active'] %}
                            <li class="uk-active">
                            {% else %}
                            <li class="">
                            {% endif %}

                                <a href="{{ url_for('tfts.tft_landing_en')}}{{resolution_count_item['url']}}">
                                    {{ resolution_count_item['resolution'] }}
                                    ({{resolution_count_item['qty']}})
                                </a>
                            </li>
                        {% endfor %}
                    </ul>

                </div>
            </div>
            <hr>
            <!-- interface -->
            <div class="uk-grid">
                <div class="uk-width-1-10">Interface</div>
                <div class="uk-width-9-10">
                    <ul class="uk-flex uk-subnav uk-subnav-pill">
                        <li class="uk-active"><a href="#">All({{tft_list_all_count}})</a></li>
                        {% for tft_port in tft_list_port %}
                            <li class=""><a href="#">{{ tft_port.port_type }}</a></li>
                            <li><a href="{{ tft_port.id }}"></a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <hr>

            <!-- display list -->
            <ul data-uk-switcher="{connect:'#list_switcher'}" class="uk-tab" data-uk-tab>
                <!-- All models -->
                <li class="uk-active">
                    <a href=""><div>All models ({{tft_list_all_count}})</div></a>
                </li>
                <!-- In Production -->
                <li>
                    <a href=""><div>In Production ({{tft_list_prod_count}})</div></a>
                </li>
                <!-- Discontinued -->
                <li>
                    <a href=""><div>Discontinued ({{tft_list_old_count}})</div></a>
                </li>
            </ul>
            <!-- LIST VISIBLE ALL MODELS -->
            <ul id="list_switcher" class="uk-switcher">
                <li>
                    <table class="uk-table uk-table-striped uk-table-hover uk-table-condensed">
                        <thead class="">
                            <tr>
                                <th>Panel model</th>
                                <th>Size &quot;</th>
                                <th>Resolution</th>
                                <th>Brightness</th>
                                <th>Interface</th>
                                <th>Touch</th>
                                <th>Operating Temp</th>
                                <th>Viewing Angle</th>
                            </tr>
                        </thead>
                        <tbody class="">
                            {% for tft in tft_list_all %}
                            <tr>
                                <td>{{ tft.article_number_supplier }}</td>
                                <td>{{ tft.tft_size.size_inch }} </td>
                                <td>{{ tft.tft_resolution.resolution_x }}x{{ tft.tft_resolution.resolution_y }} {{ tft.tft_resolution.resolution_text }}</td>
                                <td>{{ tft.tft_brightness }} </td>
                                <td>{{ tft.tft_port.port_type }} </td>
                                <td>{% if tft.tft_touch_panel %}yes{% else %}no{% endif %}</td>
                                <td>Between {{ tft.tft_operating_temperature_min}} and {{ tft.tft_operating_temperature_max}}</td>
                                <td>left{{tft.tft_viewing_angle_l}}&deg;, right{{tft.tft_viewing_angle_r}}&deg;, up{{tft.tft_viewing_angle_u}}&deg;, down{{tft.tft_viewing_angle_d}}&deg;  </td>
                                <a href="{{ tft.id }}"></a>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                            </tr>
                        </tfoot>
                    </table>
                </li>
                <li>
                    <table class="uk-table uk-table-striped uk-table-hover uk-table-condensed">
                        <thead class="">
                            <tr>
                                <th>Panel model</th>
                                <th>Size &quot;</th>
                                <th>Resolution</th>
                                <th>Brightness</th>
                                <th>Interface</th>
                                <th>Touch</th>
                                <th>Operating Temp</th>
                                <th>Viewing Angle</th>
                            </tr>
                        </thead>

                        <tbody class="">
                            {% for tft in tft_list_prod %}
                            <tr>
                                <td>{{ tft.article_number_supplier }}</td>
                                <td>{{ tft.tft_size.size_inch }} </td>
                                <td>{{ tft.tft_resolution.resolution_x }}x{{ tft.tft_resolution.resolution_y }} {{ tft.tft_resolution.resolution_text }}</td>
                                <td>{{ tft.tft_brightness }} </td>
                                <td>{{ tft.tft_port.port_type }} </td>
                                <td>{% if tft.tft_touch_panel %}yes{% else %}no{% endif %}</td>
                                <td>Between {{ tft.tft_operating_temperature_min}} and {{ tft.tft_operating_temperature_max}}</td>
                                <td>left{{tft.tft_viewing_angle_l}}&deg;, right{{tft.tft_viewing_angle_r}}&deg;, up{{tft.tft_viewing_angle_u}}&deg;, down{{tft.tft_viewing_angle_d}}&deg;  </td>
                                <a href="{{ tft.id }}"></a>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                            </tr>
                        </tfoot>
                    </table>
                </li>
                <li>
                    <table class="uk-table uk-table-striped uk-table-hover uk-table-condensed">
                        <thead class="">
                            <tr>
                                <th>Panel model</th>
                                <th>Size &quot;</th>
                                <th>Resolution</th>
                                <th>Brightness</th>
                                <th>Interface</th>
                                <th>Touch</th>
                                <th>Operating Temp</th>
                                <th>Viewing Angle</th>
                            </tr>
                        </thead>

                        <tbody class="">
                            {% for tft in tft_list_old %}
                            <tr>
                                <td>{{ tft.article_number_supplier }}</td>
                                <td>{{ tft.tft_size.size_inch }} </td>
                                <td>{{ tft.tft_resolution.resolution_x }}x{{ tft.tft_resolution.resolution_y }} {{ tft.tft_resolution.resolution_text }}</td>
                                <td>{{ tft.tft_brightness }} </td>
                                <td>{{ tft.tft_port.port_type }} </td>
                                <td>{% if tft.tft_touch_panel %}yes{% else %}no{% endif %}</td>
                                <td>Between {{ tft.tft_operating_temperature_min}} and {{ tft.tft_operating_temperature_max}}</td>
                                <td>left{{tft.tft_viewing_angle_l}}&deg;, right{{tft.tft_viewing_angle_r}}&deg;, up{{tft.tft_viewing_angle_u}}&deg;, down{{tft.tft_viewing_angle_d}}&deg;  </td>
                                <a href="{{ tft.id }}"></a>
                            </tr>
                            {% endfor %}
                        </tbody>

                        <tfoot>
                            <tr>
                            </tr>
                        </tfoot>

                    </table>
                </li>
            </ul>
        </div>
    </div>
</div>


{% endblock %}