{% extends "structure/base_en.html" %}
{% block content %}

<div class="uk-margin-left uk-margin-top">
    <h1>TFT details (ID {{tft_details.id}})</h1>
    <div class="uk-grid">
        <ul class="uk-width-1-5 uk-list uk-list-striped">
          <li>Brand:</li>
          <li>Opto Art. number OPTO :</li>
          <li>Supplier Art. number :</li>
          <li>Panel Size :</li>
          <li>Resolution :</li>
          <li>Display Mode :</li>
          <li>Brightness :</li>
          <li>Contrast :</li>
          <li>Color :</li>
          <li>Backlight :</li>
          <li>Viewing Angle :</li>
          <li>Operating Temperatures :</li>
          <li>Touch Panel :</li>
          <li>In production :</li>
        </ul>

        <ul class="uk-width-4-5 uk-list uk-list-striped">
          <!-- brand -->
          <li>...</li>
          <!-- opto article number-->
          <li>{{tft_details.article_number_opto}}</li>
          <!-- supplier article number-->
          <li>{{tft_details.article_number_supplier}}</li>
          <!-- panel size -->
          <li>{{tft_details.tft_size.size_inch}}&quot;</li>
          <!-- resolution -->
          <li>{{tft_details.tft_resolution.resolution_x}}x{{tft_details.tft_resolution.resolution_y}}:{{tft_details.tft_resolution.resolution_text}}</li>
          <!-- Display mode -->
          <li>...</li>
          <!-- brightness -->
          <li>{{tft_details.tft_brightness}}</li>
          <!-- contrast -->
          <li>{{tft_details.tft_contrast}}</li>
          <!-- color -->
          <li>{{tft_details.tft_color_amount }}</li>
          <!-- backlight -->
          <li>{{tft_details.tft_backlight}}</li>
          <!-- lrud -->
          <li>{{tft_details.tft_viewing_angle_u}}/{{tft_details.tft_viewing_angle_d}}/{{tft_details.tft_viewing_angle_l }}/{{tft_details.tft_viewing_angle_r }} (L/R/U/D)</li>
          <!-- operating temperature -->
          <li>{{tft_details.tft_operating_temperature_min}}c/{{tft_details.tft_operating_temperature_max}}c</li>
          <!-- touch panel -->
          <li>{{tft_details.tft_touch_panel}}</li>
          <!-- in prod -->
          <li>{{tft_details.tft_in_production}}</li>
        </ul>
  </div>

</div>

{% endblock %}