<!DOCTYPE html>
<html content="width=device-width, initial-scale=1" lang="en">
  <head>
    <meta charset="utf-8">
    {% if title %}
      <title>{{title}}</title>
    {% else %}
      <title>OPTO Logic TECHNOLOGY S.A.</title>
    {% endif %}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='uikit-2.22.0/css/uikit.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='uikit-2.22.0/css/uikit_custom.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='uikit-2.22.0/css/components/dotnav.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='uikit-2.22.0/css/components/slider.css') }}" />

    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="{{ url_for('static', filename='uikit-2.22.0/js/uikit.min.js') }}"></script>

    <script src="{{ url_for('static', filename='uikit-2.22.0/js/components/slideshow.js') }}"></script>
    <script src="{{ url_for('static', filename='uikit-2.22.0/js/components/slideshow-fx.js') }}"></script>
    <script src="{{ url_for('static', filename='uikit-2.22.0/js/components/sticky.js') }}"></script>
    <script src="{{ url_for('static', filename='uikit-2.22.0/js/components/slideset.js') }}"></script>
    <script src="{{ url_for('static', filename='uikit-2.22.0/js/components/slider.js') }}"></script>
    <script src="{{ url_for('static', filename='uikit-2.22.0/js/components/scrollspy.js') }}"></script>

    <script src="{{ url_for('static', filename='uikit-2.22.0/js/core/scrollspy.js') }}"></script>
    <script src="{{ url_for('static', filename='uikit-2.22.0/js/components/parallax.js') }}"></script>


  </head>
  <body>
    <div data-uk-sticky="{top, animation:'uk-animation-slide-top'}">
      {% include '/structure/include_parts/nav_en_large.html' %}
      {% include '/structure/include_parts/nav_en_med.html' %}
      {% include '/structure/include_parts/nav_en_small.html' %}
    </div>

          {% block content %}{% endblock %}
          {% include '/structure/include_parts/footer_en.html' %}


  </body>
</html>
