<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {% if title %}
      <title>{{title}}</title>
    {% else %}
      <title>OPTO Logic TECHNOLOGY S.A.</title>
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.js"></script>
    <script src="{{ url_for('static', filename='materialize/js/init.js') }}"></script>

    <!-- CSS  -->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='materialize/css/materialize.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='materialize/css/style.css') }}" />


    <div id="wrap">
      {% include '/structure/include_parts/header_en_mat.html' %}
      <div class="container">
        {% block content %}{% endblock %}
      </div> <!-- container-fluid -->
      <div id="push"></div>
    </div> <!-- wrap id -->

    {% include '/structure/include_parts/footer_en_mat.html' %}
  </body>
</html>
