<div id="div_footer" class="footer ">
    <div class="uk-grid uk-margin-top uk-container  ">
        <ul class="uk-width-1-5">
            <li>1</li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <ul class="uk-width-1-5">
           <li>3</li>
           <li></li>
           <li></li>
           <li></li>
           <li></li>
        </ul>
        <ul class="uk-width-1-5">
            <li>4</li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <ul class="uk-width-1-5">
            <li>5</li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</div>
<div id="div_footer_1" class="div_footer_1 uk-text-center">
    <p id="p_footer"> &copy 2015 OPTO Logic TECHNOLOGY SA. </p>
</div>


