    <nav class="uk-navbar uk-visible-small uk-hidden-medium uk-hidden-large">
        <a href="#" class="uk-navbar-brand">
          <img src="{{ url_for('static', filename='img/logo_opto_vecto.svg') }}" alt="OPTO Logic TECHNOLOGY SA" width="160px">
        </a>
        <div class="uk-navbar-toggle uk-contrast uk-navbar-flip" data-uk-offcanvas="{target:'#offcanvas-4'}"></div>
        <!-- ================================================================================================================== -->
        <div aria-hidden="true" id="offcanvas-4" class="uk-offcanvas">
            <div class="uk-offcanvas-bar uk-offcanvas-bar-flip uk-text-small">
                <ul class="uk-nav uk-nav-offcanvas uk-nav-parent-icon uk-text-small" data-uk-nav>
                    <!-- section products -->
                    <li aria-expanded="true"  class="uk-parent">
                        <a href="#" >Products</a>
                        <ul class="uk-nav uk-nav-offcanvas uk-nav-parent-icon" data-uk-nav>
                            <!---- New product line ---->
                            <li aria-expanded="false" class="uk-parent">
                                <a href="#">Displays</a>
                                <ul class="uk-text-small">
                                    <li><a href="#">TFT Displays</a></li>
                                    <li><a href="#">LCD Graphic</a></li>
                                    <li><a href="#">LCD Segment</a></li>
                                    <li><a href="#">OLED</a></li>
                                    <li><a href="#">ePAPER</a></li>
                                    <li><a href="#">CUSTOM Displays</a></li>

                                </ul>
                            </li>
                            <!---- New product line ---->
                            <li aria-expanded="false" class="uk-parent">
                                <a href="#" class="uk-text-small">Touch Panel</a>
                                <ul class="uk-text-small">
                                    <li><a href="#">PCAP</a></li>
                                    <li><a href="#">RTP</a></li>
                                </ul>
                            </li>
                            <!---- New product line ---->
                            <li aria-expanded="false" class="uk-parent">
                                <a href="#" class="uk-text-small">Thermal Printers</a>
                                <ul class="uk-text-small">
                                    <li><a href="#">Panel Printers</a></li>
                                    <li><a href="#">Mobile Printers</a></li>
                                    <li><a href="#">POS Printer</a></li>
                                    <li><a href="#">Mechanism</a></li>
                                </ul>
                            </li>
                            <!---- New product line ---->
                            <li aria-expanded="false" class="uk-parent">
                                <a href="#" class="uk-text-small">Computers</a>
                                <ul class="uk-text-small">
                                    <li><a href="#">Industrial PCs</a></li>
                                    <li><a href="#">Monitors</a></li>
                                    <li><a href="#">SOM (System On Module)</a></li>
                                </ul>
                            </li>
                            <!---- New product line ---->
                            <li aria-expanded="false" class="uk-parent">
                                <a href="#" class="uk-text-small">Others</a>
                                <ul class="uk-text-small">
                                    <li><a href="#">Laser diodes</a></li>
                                    <li><a href="#">POS Systems</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="uk-nav uk-nav-offcanvas uk-nav-parent-icon" data-uk-nav>
                    <!-- section solutions -->
                    <li aria-expanded="false" class="uk-parent">
                        <a href="#" class="uk-text-small">Solutions</a>
                        <ul class="uk-text-small">
                            <li><a href="">Sub item</a></li>
                            <li><a href="">Sub item</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="uk-nav uk-nav-offcanvas uk-nav-parent-icon" data-uk-nav>
                    <!-- section partners -->
                    <li aria-expanded="false" class="uk-parent">
                        <a href="#" class="uk-text-small">Partners</a>
                        <ul class="uk-text-small">
                            <li><a href="#">Sub item</a></li>
                            <li><a href="#">Sub item</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="uk-nav uk-nav-offcanvas uk-nav-parent-icon" data-uk-nav>
                    <!-- section Company -->
                    <li aria-expanded="false" class="uk-parent">
                        <a href="#" class="uk-text-small">Company</a>
                        <ul class="uk-text-small">
                            <li><a href="#">Sub item</a></li>
                            <li><a href="#">Sub item</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="uk-nav uk-nav-offcanvas uk-nav-parent-icon" data-uk-nav>
                    <!-- section support -->
                    <li aria-expanded="false" class="uk-parent">
                        <a href="#" class="uk-text-small">Support</a>
                        <ul class="uk-text-small">
                            <li><a href="#">Sub item</a></li>
                            <li><a href="#">Sub item</a></li>
                        </ul>
                    </li>
                    <li class="uk-nav-divider"></li>
                </ul>
                <ul class="uk-nav uk-nav-offcanvas uk-nav-parent-icon" data-uk-nav>
                    <!-- section Contact -->
                    <li aria-expanded="false" class="uk-parent">
                        <a href="#" class="uk-icon-envelope-o uk-icon-float-right uk-text-small">Contact</a>
                        <ul class="uk-text-small">
                            <li><a href="#">Sub item</a></li>
                            <li><a href="#">Sub item</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
