<!-- Dropdown Structure -->
<div class="panel">&nbsp;</div>
    <div>
        <a href="{{ url_for('index') }}" class="uk-navbar-brand">
            <img src="{{ url_for('static', filename='img/logo_opto_vecto.svg') }}" alt="OPTO Logic TECHNOLOGY SA" width="200px">
        </a>
    </div>
<div class="panel">&nbsp;</div>

<!-- Dropdown Structure -->
<ul data-beloworigin="true" id="dropdown1" class="dropdown-content" >

  <li><a href="#!">TFT Displays</a></li>
  <li><a href="#!">LCD Graphic</a></li>
  <li><a href="#!">LCD Segment</a></li>
  <li><a href="#!">OLED</a></li>
  <li><a href="#!">ePAPER</a></li>
  <li><a href="#!">Custom Displays</a></li>
  <li class="divider"></li>
  <li><a href="#!">Touch Panels</a></li>
  <li><a href="#!">PCAP</a></li>
  <li><a href="#!">RTP</a></li>

</ul>
<ul id="dropdown2" class="dropdown-content">
  <li><a href="#!">TFT Displays</a></li>
  <li><a href="#!">LCD Graphic</a></li>
  <li><a href="#!">LCD Segment</a></li>
  <li><a href="#!">OLED</a></li>
  <li><a href="#!">ePAPER</a></li>
  <li><a href="#!">Custom Displays</a></li>
  <li class="divider"></li>
  <li><a href="#!">three</a></li>
</ul>
<ul id="dropdown3" class="dropdown-content">
  <li><a href="#!">TFT Displays</a></li>
  <li><a href="#!">LCD Graphic</a></li>
  <li><a href="#!">LCD Segment</a></li>
  <li><a href="#!">OLED</a></li>
  <li><a href="#!">ePAPER</a></li>
  <li><a href="#!">Custom Displays</a></li>
  <li class="divider"></li>
  <li><a href="#!">three</a></li>
</ul>

<nav>
  <div class="nav-wrapper">
    <a href="" class="brand-logo"><img src="{{ url_for('static', filename='img/logo_opto_vecto.svg') }}" alt="OPTO Logic TECHNOLOGY SA" height ="60px"></a>
    <ul class="right hide-on-med-and-down">
      <li><a class="dropdown-button active" href="#!" data-activates="dropdown1">Product<i class="material-icons right">arrow_drop_down</i></a></li>
      <li><a href="badges.html">Components</a></li>
      <li><a href="contact.html">Contact</a></li>
    </ul>
  </div>

</ul>
</nav>
        