<div data-uk-sticky="{top, animation:'uk-animation-slide-top'}">
    <nav class="uk-navbar uk-visible-small">
        <a href="{{ url_for('index') }}" class="uk-navbar-brand">
          <img src="{{ url_for('static', filename='img/logo_opto_vecto.svg') }}" alt="OPTO Logic TECHNOLOGY SA" width="180px">
        </a>
        <div class="uk-navbar-toggle uk-contrast uk-navbar-flip" data-uk-offcanvas="{target:'#offcanvas-4'}"></div>
        <!-- ================================================================================================================== -->
        <div aria-hidden="true" id="offcanvas-4" class="uk-offcanvas">
            <div class="uk-offcanvas-bar uk-offcanvas-bar-flip">
                <ul class="uk-nav uk-nav-offcanvas uk-nav-parent-icon" data-uk-nav>
                    <!-- section products -->
                    <li aria-expanded="false" class="uk-parent">
                        <a href="#" class="uk-nav-header">Products</a>
                        <ul class="uk-text-small">
                            <li><a href="{{ url_for('tft') }}">TFT Displays</a></li>
                            <li><a href="#">LCD Graphic</a></li>
                            <li><a href="#">LCD Segment</a></li>
                            <li><a href="#">OLED</a></li>
                            <li><a href="#">ePAPER</a></li>
                            <li><a href="#">CUSTOM Displays</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="uk-nav uk-nav-offcanvas uk-nav-parent-icon" data-uk-nav>
                    <!-- section products -->
                    <li aria-expanded="false" class="uk-parent">
                        <a href="#">Products</a>
                        <ul class="uk-text-small">
                            <li><a href="">Sub item</a></li>
                            <li><a href="">Sub item</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>